# ----------------------------
# Node.js
# ----------------------------


# ----------------------------
# Terraform
# ----------------------------
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*.backup
*.tfplan
crash.log

# ----------------------------
# Jenkins
# ----------------------------
*.jenkins*
*.xml
secrets/
config-history/
jobs/*/workspace/
jobs/*/lastStable/
jobs/*/lastSuccessful/
workspace/
logs/
war/
init.groovy.d/

# ----------------------------
# AWS / SSH Keys / Secrets
# ----------------------------
.aws/
*.pem
*.key
*.crt
*.csr
*.p12
*.jks
*.awscredentials
*.awsprofile

# Downloaded SSH key directory
downloaded_keys/

# Prevent secret config leaks
cloudformation-export.json
aws-exports.js
cdk.out/

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
.venv/
.env/
pip-log.txt

# ----------------------------
# macOS
# ----------------------------
.DS_Store
.AppleDouble
.LSOverride

# ----------------------------
# VSCode / JetBrains / IDEs
# ----------------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ----------------------------
# Temporary files
# ----------------------------
tmp/
temp/
*.swp
*.swo
*.bak
*.tmp

# ----------------------------
/S3/terraform/keys/
*.pem
*.pub
*.key
*.rsa

# ----------------------------
keys/
*.pem
*.pub


